* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #b5b5b5;
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
}

header img{
    height: 36px;
    margin-right:16px;
    margin-bottom: 40px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form{
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;;
}

form input {
    font-size: 24px;
    background-color: #c2deff;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
    border-radius: 15px;
    transition: background-color 0.5s ease;
}
form input:hover {
    color: white;
    background-color: rgb(255, 206, 147);
}

form button {
    background-color: #009432;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 15px;
    transition: background-color 0.5s ease;
}
form button:hover{
    background-color:blue;
    color:rgb(0, 255, 0);
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24;
    font-weight: bold;
}

table td {
    padding: 16px 0;
    text-align: center;
    font-size: 18;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

table td img {
    height: 30px;
}

.resultado {
    padding: 8px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border-radius: 3px;
}

.aprovado {
    background-color: #009432;    
}

.reprovado {
    background-color: red;
}